<div class="row mg-nav-cus">
    <div class="col col-sm vh-130 bg-image3 d-flex justify-content-center align-items-center">
        <div class="green-box"> 
            <h1 class="text-center">Add New Recipe</h1>
            <form id="add-post-form">
                
                <!-- Post title -->
                <div class="row justify-content-center">
                    <div class="col-sm-8 col-11">
                        <label for="post-title">Title:</label>
                        <input class="form-control" id="post-name" type="text" name="title" placeholder="Title" required/>
                    </div>
                </div>

                <!-- Contents -->
                <div class="row justify-content-center">
                    <div class="col-sm-8 col-11">
                        <label for="contents">Contents:</label>
                        <textarea class="form-control" id="contents" name="content" rows="3" placeholder="Enter the contents:" required></textarea>
                    </div>
                </div>

                <!-- Submit button -->                  
                <div class="row justify-content-center">
                   <div class="col-10 col-sm-8  m-4 text-center">
                     <button id="submit-btn">Submit Recipe</button>
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="success-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Success!</h5>
      </div>
      <div class="modal-body">
        <p>Your recipe has been posted.</p>
        <div id="modal-btns">
            <a class="btn" href="/profile">View My Posts</a>
            <a class="btn" href="/dashboard">View All Posts</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/addPost.js"></script>