<div class="vh-100 bg-image2">
  <header class="d-flex justify-content-center align-items-center py-2">
    <h1 id="title">MVC Tech Blog</h1>
  </header>

<div class="row">
    <main class="col-sm col vh-100 bg-image2 d-flex justify-content-center align-items-center">
     <div class="green-box">
       <h1 class="text-center">Create your account</h1>
       <form id="signup-form">
         <div class="row justify-content-center">
           <div class="col-10 col-sm-8 mg-custom">
             <input class="form-control" id="username" type="text" name="username" placeholder="username" required>
           </div>
         </div>
         <div class="row justify-content-center">
           <div class="col-10 col-sm-8 mg-custom">
             <input class="form-control" id="password" type="password" name="password" placeholder="Password" minlength="8" required>
           </div>
         </div>
         <div class="row justify-content-center">
           <div class="col-10 col-sm-8 text-center">
             <label for="password">Password must be at least 8 characters</label>
           </div>
         </div>
         <div class="row justify-content-center">
           <div class="col-10 col-sm-8 text-center">
             <button id="submit">Submit</button>
           </div>
         </div>
       </form>
     </div>
    <main>
</div>

<script src="/js/signup.js"></script>